<!Doctype HTML>
  <html>
    <head>
      <title>{{ page.title }}</title>
      <link rel="stylesheet" href="/css/main.css" media="screen">
    </head>
    <body>
      <nav>
        <ul>
          <li><a href="/"></a>Home</li>
          <li><a href="/cv"></a>CV</li>
          <li><a href="/projets"></a>Projects</li>
          <li><a href="/blog"></a>Blog</li>
          <li><a href="/links"></a>Links</li>
        </ul>
      </nav>
      <div class="container">

			{{ content }}

			</div>
			<footer>
	    		<ul>
	        		<li><a href="markwhemsley@googlemail.com">email</a></li>
	        		<li><a href="https://github.com/mhemsley">github.com/mhemsley</a></li>
				</ul>
			</footer>
    </body>
  </html>
